* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#form {
    outline: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
}
label {
    margin: 1em;
}
input {
    text-align: center;
    padding: 0.8em 1em;
}
#btn {

}
